.container {
  position: fixed;
  background-size: contain;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
}

.RegisterContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(112, 112, 112, 0.8);
}

.card {
  background-color: white;
  width: 45rem;
  height: 44rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 10px 12px 13px 0px rgba(0, 0, 0, 0.26);
  margin: auto;
  /* Memastikan card selalu berada di tengah */
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  background-color: #d9d9d9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 8rem;
  gap: 2rem;
  color: #707070;
  font-size: 14px;
  font-weight: bold;
}

.fieldInput {
  display: flex;
  flex-direction: column;
}

.fieldInput > input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding-left: 1rem;
}

.fieldInput > input:focus {
  outline: none !important;
}

.inputField {
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.25);
}

.passField {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 1rem;
  box-shadow: 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.passField > input {
  width: 100%;
  height: 50px;
  border: none;
}

.passField > input:focus {
  outline: none;
}

.passField > svg {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.forgetPassword {
  text-decoration: none;
  color: #707070;
}

.buttonSubmit {
  padding: 1rem 3rem;
}

.buttonSubmit > button {
  height: 50px;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #00569f;
  cursor: pointer;
}

.errorMessageTextColor {
  color: red;
}

.register {
  display: block;
  text-align: center;
  margin-top: 12px;
  color: #707070;
  font-weight: bold;
  text-decoration: none;
}

.register span {
  text-decoration: underline;
}

.register:hover span {
  color: #003d7a;
}