.inputField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
flex: 1 1 45%;
    /* fleksibel dan tetap responsif */
    max-width: 50%;
    min-width: 200px;
    /* biar ga terlalu kecil di layar kecil */
}

.labelText {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.infoText {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #757A7E;
    margin-top: 4px;
}

.selectedText,
.customTextField {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.buttonLabel {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 16px;
}

.container {
    margin: 10px 10px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;

    /* Optional, biar responsif */
}
.titleField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid #000;
    /* Garis bawah dengan warna hitam */
    padding-bottom: 4px;
    /* Beri sedikit jarak antara teks dan garis */
}

.titleText {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    /* Font lebih tebal */
    color: #000;
}