.container {
    position: fixed;
    background-size: contain;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
}

.loginContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.8);
}

.card {
    background-color: white;
    width: 45rem;
    height:fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px 12px 13px 0px rgba(0, 0, 0, 0.26);
    margin: auto;
    /* Memastikan card selalu berada di tengah */
}

.titleContainer {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 8rem;
    gap: 1rem;
    color: #707070;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fieldInput {
    display: flex;
    flex-direction: column;
}

.fieldInput>input {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 1rem;
}

.fieldInput>input:focus {
    outline: none !important;
}

.inputField {
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.25);
}

.buttonSubmit {
    padding: 1rem 3rem;
}

.buttonSubmit>button {
    height: 50px;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #00569f;
    cursor: pointer;
}