.selectedText {
    font-family: 'Roboto', sans-serif;
    }
    
    .customTextField {
    font-family: 'Roboto', sans-serif;
}
/* styles.module.css */
.selectedText :global(.MuiPaper-root.MuiMenu-paper) {
    margin-top: 8px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}