.tabBackround {
    background-color: #f1f1f1;
    margin-right: 1%;
    border-radius: 10px 10px 0px 0px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.tabBackround:not(.active):hover {
    color: white;
    background-color: #606060;
}

.tabBackround.active {
    background-color: #606060;
    color: white;
}

.boxBackground {
    border-radius: 0px 0px 10px 10px;
        border: 1px solid #ddd;
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
        max-height: calc(100vh - 100px);
            /* height: calc(100vh - 150px); */
            /* Tambahkan tinggi tetap agar scroll bisa bekerja */
            overflow: hidden;
            display: flex;
            flex-direction: column;
}
.boxPanel {
    padding: 10px;
}
.tabPanel {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    padding: 10px;
}