@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.alertBox {
    position: fixed;
    top: 78px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: #333;
    font-size: 16px;
    animation: slideIn 0.1s ease-out;
    z-index: 1700;
}

.hidden {
    animation: slideOut 0.1s ease-out forwards;
}