.editFilterTable {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.filterTextField {
    display: flex;
    gap: 16px;
    width: 70%;
}

.buttonGroup {
    display: flex;
    gap: 8px;
}

.buttonGroup button {
    width: 50%;
}