.tableContainer {
  width: 100%;
  max-height: calc(100vh - 249px);
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
    overflow-x: auto;
    position: relative;
}
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  }
  
  .thead {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  .tbody {
    max-height: calc(100vh - 289px);
    overflow-y: auto;
    width: 100%;
}

.cell {
  padding: 10px;
  border: 1px solid #ddd;
  position: relative;
  white-space: pre-wrap;
  min-width: 180px;
}

.cellAction {
padding: 10px;
  border: 1px solid #ddd;
  position: relative;
  white-space: pre-wrap;
}

.sortButton {
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
}

.filterInputInline {
  width: 100%;
  height: 28px;
  padding: 5px;
  font-size: 13px;
    border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
    box-sizing: border-box;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLabel {
  flex-grow: 1;
}

.actions {
  display: flex;
  gap: 8px;
}

.filterButton{
  border: none;
  background-color: transparent;
}

.headerTable {
  background: #00569F;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.headerCell {
  position: sticky;
  top: 0;
  /* nanti diganti pakai nth-child */
  background: #00569F;
  z-index: 1000;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Baris ke-2 (filter row), offset-nya digeser biar gak tiban baris pertama) */
  thead tr:nth-child(2) .headerCell {
    top: 41px;
    /* sesuai tinggi header baris pertama */
    border: 2px solid #ccc;
    background: white;
    z-index: 999;
}

.editMenu {
  display: flex;
  gap: 10px;
  /* Add spacing between buttons */
}